# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
package-lock.json
package.json
# Database
*.db
*.sqlite3
instance/

# Environment variables (VERY IMPORTANT)
.env
.env.local
.env.production

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution / build
dist/
build/
*.egg-info/